## Carbon Emissions Data Cleansing and Exploration

Exec Summary Will go here:

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('predicting_carbon_emissions.csv')

In [3]:
df.head(3)

,Account ID,Company Name,Listed,Ticker,ISIN,HQ Country,GICS Sector,Accounting Year End,Reported Scope 1 (tCO2e),Estimated Scope 1 (tCO2e),...,Socialindex.1,Governanceindex.1,ESGindex.1,ISIN lower,2016vol,2017vol,2018vol,2019vol,VolFactor,Carbon Emission (tCO2e/mmUSD)
0,30238,Agencia de Proteccion Ambiental,Yes,ADN LN,NaN,NaN,NaN,29/09/2016,0.65,NaN,...,0.28,0.31,0.32,NaN,NaN,NaN,NaN,NaN,0.000000,539.281077
1,59859,Sociedad Comercial del Plata SA,Yes,COME AR,ARP290071462,Argentina,Energy,31/12/2016,NaN,"1,400",...,0.28,0.31,0.32,arp290071462,0.023033,0.023079,0.033899,0.0217,0.178446,26.030882
2,1408,Banco de Galicia y Buenos Aires S.A.,Yes,GALI AR,NaN,Argentina,Financials,31/12/2016,933.37,NaN,...,0.28,0.31,0.32,NaN,NaN,NaN,NaN,NaN,0.000000,7.968841

In [4]:
df.shape

(3987, 65)

In [5]:
df.describe()

,Account ID,Scope 1 quality flag,Location-based Scope 2 quality flag,GHG revenue intensity (tCO2e/mmUSD),amplification.wordsindex,DeAmplification.wordsindex,HE_negativeindex,HE_positiveindex,angerindex,anticipationindex,...,Environmentindex.1,Socialindex.1,Governanceindex.1,ESGindex.1,2016vol,2017vol,2018vol,2019vol,VolFactor,Carbon Emission (tCO2e/mmUSD)
count,3987.000000,2811.000000,2805.000000,3936.000000,3987.000000,3987.000000,3987.000000,3987.000000,3987.000000,3987.000000,...,3987.000000,3987.000000,3987.000000,3987.00000,2820.000000,2781.000000,2720.000000,2709.000000,3987.000000,3987.000000
mean,24596.869827,5.807542,5.818182,539.281019,30.822674,32.641585,31.769250,33.543266,31.501881,33.097818,...,0.218605,0.240617,0.261741,0.26841,0.021768,0.016284,0.019661,0.019061,0.230743,539.281077
std,18243.727416,1.401687,1.211758,2139.780156,49.589093,61.935043,53.795005,51.588493,50.385057,49.013095,...,0.065173,0.076218,0.087468,0.09152,0.009771,0.014660,0.008124,0.011900,0.226343,2126.047089
min,44.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.004250,0.005823,0.002575,0.000000,0.000000
25%,9831.500000,5.000000,5.000000,14.570000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.250000,0.250000,0.250000,0.25000,0.016159,0.011317,0.014643,0.012867,0.000000,14.963002
50%,20592.000000,6.000000,6.000000,51.585000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.250000,0.280000,0.310000,0.32000,0.019945,0.014304,0.017892,0.016909,0.179449,53.491972
75%,37703.000000,7.000000,7.000000,238.300000,68.000000,50.000000,64.000000,81.000000,71.000000,91.000000,...,0.250000,0.280000,0.310000,0.32000,0.024800,0.018473,0.022903,0.022033,0.429198,259.786994
max,73540.000000,7.000000,7.000000,60946.570000,317.000000,602.000000,619.000000,228.000000,475.000000,168.000000,...,0.250000,0.280000,0.310000,0.32000,0.150513,0.660147,0.141956,0.238443,0.678947,60946.572930

In [6]:
df.count()

Account ID                        3987
Company Name                      3987
Listed                            3987
Ticker                            3583
ISIN                              3075
                                  ...
2017vol                           2781
2018vol                           2720
2019vol                           2709
VolFactor                         3987
Carbon Emission  (tCO2e/mmUSD)    3987
Length: 65, dtype: int64

In [7]:
df

,Account ID,Company Name,Listed,Ticker,ISIN,HQ Country,GICS Sector,Accounting Year End,Reported Scope 1 (tCO2e),Estimated Scope 1 (tCO2e),...,Socialindex.1,Governanceindex.1,ESGindex.1,ISIN lower,2016vol,2017vol,2018vol,2019vol,VolFactor,Carbon Emission (tCO2e/mmUSD)
0,30238,Agencia de Proteccion Ambiental,Yes,ADN LN,NaN,NaN,NaN,29/09/2016,0.65,NaN,...,0.28,0.31,0.32,NaN,NaN,NaN,NaN,NaN,0.000000,539.281077
1,59859,Sociedad Comercial del Plata SA,Yes,COME AR,ARP290071462,Argentina,Energy,31/12/2016,NaN,"1,400",...,0.28,0.31,0.32,arp290071462,0.023033,0.023079,0.033899,0.021700,0.178446,26.030882
2,1408,Banco de Galicia y Buenos Aires S.A.,Yes,GALI AR,NaN,Argentina,Financials,31/12/2016,933.37,NaN,...,0.28,0.31,0.32,NaN,NaN,NaN,NaN,NaN,0.000000,7.968841
3,20949,YPF SA,Yes,YPFD AR,ARP9897X1319,Argentina,Energy,31/12/2016,NaN,"12,000,000",...,0.07,0.13,0.27,arp9897x1319,0.024063,0.021263,0.030650,0.029235,0.064662,926.111720
4,57626,Australia Post,Yes,1067Z AU,0,Australia,Industrials,30/06/2016,"119,338.00",NaN,...,0.28,0.31,0.32,0,NaN,NaN,NaN,NaN,0.000000,59.908367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3982,57671,Zillow Group,Yes,Z US,US98954M1018,USA,Information Technology,31/12/2016,NaN,"1,300",...,0.28,0.31,0.32,us98954m1018,0.026123,0.018770,0.032243,0.043305,0.017794,10.158400
3983,33252,ZAYO,Yes,ZAYO US,NaN,USA,Telecommunication Services,31/08/2016,-,"17,000",...,0.28,0.31,0.32,NaN,NaN,NaN,NaN,NaN,0.000000,53.186653
3984,21063,"Zimmer Biomet Holdings, Inc.",Yes,ZBH US,US98956P1021,USA,Health Care,31/12/2016,"12,618.00",NaN,...,0.27,0.23,0.11,us98956p1021,0.015261,0.012057,0.014494,0.014492,0.447870,11.365713
3985,59904,Olympic Steel Inc,Yes,ZEUS US,US68162K1060,USA,Materials,31/12/2016,NaN,"1,100,000",...,0.25,0.16,0.13,us68162k1060,0.043129,0.032546,0.025480,0.028482,0.068421,1260.520130
3986,49638,Zoetis Inc,Yes,ZTS US,US98978V1035,USA,Health Care,31/12/2016,NaN,"76,000",...,0.28,0.31,0.32,us98978v1035,0.013865,0.009168,0.014517,0.014955,0.429323,31.710311

In [8]:
df.sort_values(['ISIN'])

,Account ID,Company Name,Listed,Ticker,ISIN,HQ Country,GICS Sector,Accounting Year End,Reported Scope 1 (tCO2e),Estimated Scope 1 (tCO2e),...,Socialindex.1,Governanceindex.1,ESGindex.1,ISIN lower,2016vol,2017vol,2018vol,2019vol,VolFactor,Carbon Emission (tCO2e/mmUSD)
1858,54924,Entra Asa,Yes,ENTRA NO,0,Norway,Real Estate,31/12/2016,302.8,NaN,...,0.28,0.31,0.32,0,NaN,NaN,NaN,NaN,0.0,86.918567
2330,54930,Recipharm Ab,Yes,RECIB SS,0,Sweden,Health Care,31/12/2016,"15,379.00",NaN,...,0.28,0.31,0.32,0,NaN,NaN,NaN,NaN,0.0,72.746707
2338,16406,Scandic Hotels Group,Yes,SHOT SS,0,Sweden,Consumer Discretionary,31/12/2016,"1,555.10",NaN,...,0.28,0.31,0.32,0,NaN,NaN,NaN,NaN,0.0,23.265902
88,60580,Vicinity Centres,Yes,VCX AU,0,Australia,Real Estate,31/12/2016,"6,485.00",NaN,...,0.28,0.31,0.32,0,NaN,NaN,NaN,NaN,0.0,213.661224
2737,63525,Logtek Ltd,Yes,1728160Z LN,0,United Kingdom,Industrials,31/12/2016,"1,533.42",NaN,...,0.28,0.31,0.32,0,NaN,NaN,NaN,NaN,0.0,52.149321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3961,28692,West Pharmaceutical Services,Yes,WST US,NaN,USA,Health Care,31/12/2016,"28,478.10",NaN,...,0.28,0.31,0.32,NaN,NaN,NaN,NaN,NaN,0.0,97.130038
3962,33928,WEST CORPORATION,Yes,WSTC US,NaN,USA,Telecommunication Services,31/12/2016,-,NaN,...,0.28,0.31,0.32,NaN,NaN,NaN,NaN,NaN,0.0,5.810311
3966,44273,Wolverine World Wide Inc,Yes,WWW US,NaN,USA,Consumer Discretionary,31/12/2016,NaN,"8,700",...,0.28,0.31,0.32,NaN,NaN,NaN,NaN,NaN,0.0,11.905716
3976,13416,XPO Logistics,Yes,XPO US,NaN,USA,Industrials,31/12/2016,"6,914.00",NaN,...,0.28,0.31,0.32,NaN,NaN,NaN,NaN,NaN,0.0,3.802345
3983,33252,ZAYO,Yes,ZAYO US,NaN,USA,Telecommunication Services,31/08/2016,-,"17,000",...,0.28,0.31,0.32,NaN,NaN,NaN,NaN,NaN,0.0,53.186653

In [9]:
df.head(100)

,Account ID,Company Name,Listed,Ticker,ISIN,HQ Country,GICS Sector,Accounting Year End,Reported Scope 1 (tCO2e),Estimated Scope 1 (tCO2e),...,Socialindex.1,Governanceindex.1,ESGindex.1,ISIN lower,2016vol,2017vol,2018vol,2019vol,VolFactor,Carbon Emission (tCO2e/mmUSD)
0,30238,Agencia de Proteccion Ambiental,Yes,ADN LN,NaN,NaN,NaN,29/09/2016,0.65,NaN,...,0.28,0.31,0.32,NaN,NaN,NaN,NaN,NaN,0.000000,539.281077
1,59859,Sociedad Comercial del Plata SA,Yes,COME AR,ARP290071462,Argentina,Energy,31/12/2016,NaN,"1,400",...,0.28,0.31,0.32,arp290071462,0.023033,0.023079,0.033899,0.021700,0.178446,26.030882
2,1408,Banco de Galicia y Buenos Aires S.A.,Yes,GALI AR,NaN,Argentina,Financials,31/12/2016,933.37,NaN,...,0.28,0.31,0.32,NaN,NaN,NaN,NaN,NaN,0.000000,7.968841
3,20949,YPF SA,Yes,YPFD AR,ARP9897X1319,Argentina,Energy,31/12/2016,NaN,"12,000,000",...,0.07,0.13,0.27,arp9897x1319,0.024063,0.021263,0.030650,0.029235,0.064662,926.111720
4,57626,Australia Post,Yes,1067Z AU,0,Australia,Industrials,30/06/2016,"119,338.00",NaN,...,0.28,0.31,0.32,0,NaN,NaN,NaN,NaN,0.000000,59.908367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,20792,WorleyParsons,Yes,WOR AU,AU000000WOR2,Australia,Energy,30/06/2016,"19,096.00",NaN,...,0.28,0.31,0.32,au000000wor2,0.044403,0.028471,0.022168,0.025764,0.098997,10.532346
96,20780,Woolworths Limited,Yes,WOW AU,AU000000WOW2,Australia,Consumer Staples,30/06/2016,"1,329,479.00",NaN,...,0.22,0.18,0.18,au000000wow2,0.016982,0.009603,0.009573,0.011426,0.564160,89.226597
97,20771,Woodside Petroleum,Yes,WPL AU,AU000000WPL2,Australia,Energy,31/12/2016,"3,520,000.00",NaN,...,0.28,0.31,0.32,au000000wpl2,0.022202,0.011595,0.014800,0.015223,0.419048,865.914110
98,20614,Western Areas,Yes,WSA AU,NaN,Australia,Materials,30/06/2016,"14,641.00",NaN,...,0.28,0.31,0.32,NaN,NaN,NaN,NaN,NaN,0.000000,371.552347
99,31962,AGRANA Beteiligungs-AG,Yes,AGR AV,AT0000603709,Austria,Consumer Staples,28/02/2017,NaN,"260,000",...,0.28,0.31,0.28,at0000603709,0.013622,0.014594,0.015654,0.016522,0.358897,112.382654

In [10]:
sectors = (df['GICS Sector'].unique())

In [9]:
sectors

array([nan, 'Energy', 'Financials', 'Industrials', 'Utilities',
       'Consumer Discretionary', 'Materials', 'Health Care',
       'Consumer Staples', 'Real Estate', 'Information Technology',
       'Telecommunication Services'], dtype=object)